@font-face {
  font-family: 'Ibm';
  src: url('./assets/fonts/IBMPlexSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Ibm';
  src: url('./assets/fonts/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Ibm';
  src: url('./assets/fonts/IBMPlexSans-Bold.ttf');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Ibm';
  font-weight: 400;
  background-color: #e9eff7;
}

a {
  text-decoration: none;
  color: #0880ae;
}
